/* tailwind */
@import "tailwindcss";

#root {
  display: block;
  width: 100%;
}

.page {
  background-image: url('/background.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
