/* tailwind */
@import "tailwindcss";
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}

#root {
  display: block;
  width: 100%;
}

.page {
  background-image: url('/background.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.edit-form {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
}

.edit-form::after {
  background: url('/edit.svg') no-repeat center;
  background-size: cover;
  content: "";
  display: flex;
  height: 20px;
  object-fit: cover;
  width: 20px;
}